body {
    background-color: #D3D3D3;
    }

    .wrapper {
        border: 10px solid red;;
    }
    /*This is a CSS comment*/ body { background-color: #D3D3D3; } /*This is anothe
SS comment*/ .wrapper { border: 10px solid red; }